;; Replaced with config.local.edn
{:starcraft {:path "your/absolute/path/to/chaoslauncher.exe"}
 :log? false
 :api {:async true
       :unlimited-frame-zero true
       :debug-connection false
       :log-verbosely false}}