{:paths ["src" "resources"]

 :mvn/repos {"jitpack" {:url "https://jitpack.io"}}

 :deps {org.clojure/clojure {:mvn/version "1.12.0"}
        com.github.JavaBWAPI/JBWAPI {:mvn/version "2.1.0"}}
 :aliases {:prod
           {:jvm-opts ["--add-opens=java.base/java.nio=ALL-UNNAMED"]}

           :dev
           {:extra-paths ["dev", "test"]
            ;;    :jvm-opts ["--add-opens=java.base/java.nio=ALL-UNNAMED"]
            :extra-deps {djblue/portal {:mvn/version "0.58.5"}
                         org.clojure/tools.namespace {:mvn/version "1.5.0"}
                         org.clojars.abhinav/snitch {:mvn/version "0.1.16"}
                         ;;   quil/quil {:mvn/version "4.3.1563"}
                         org.mockito/mockito-core {:mvn/version "4.11.0"}
                         org.clojure/test.check {:mvn/version "1.1.1"}
                         babashka/process {:mvn/version "0.5.22"}
                         babashka/fs {:mvn/version "0.5.27"}}}
           :test
           {:extra-paths ["test"]
            :extra-deps {io.github.cognitect-labs/test-runner {:git/tag "v0.5.1"
                                                               :git/sha "dfb30dd"}
                         org.mockito/mockito-core {:mvn/version "4.11.0"}
                         org.clojure/test.check {:mvn/version "1.1.1"}}
            :main-opts ["-m" "cognitect.test-runner"]
            :exec-fn cognitect.test-runner.api/test}

           :build
           {:jvm-opts [#_"--add-opens=java.base/java.nio=ALL-UNNAMED"] ;; why ?
            :deps {io.github.clojure/tools.build {:git/tag "v0.10.12" :git/sha "97c5562"}}
            :ns-default build}}}