{:ns-groups [{:pattern ".bwapi." :name bwapi}]
 :linters {:clojure-lsp/unused-public-var {:level :info}
           :unused-binding {:level :info}
           :unused-private-var {:level :info}
           :unused-namespace {:level :info}}
 :ignore [#_:unused-binding
          #_:unused-private-var]}